
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('/blocks/vortex/vortex.css');
@import url('./blocks/animations/animations.css');
@import url('./blocks//normalize/normalize.css');
@import url('./blocks/nav/nav.css');

.open-sans-300 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.open-sans-500 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.open-sans-700 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.main{
  width: 100vw;
  height: 300vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 0;
}

.main__scroll-icon{
  position: absolute;
  width: 100px;
  overflow: hidden;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    color: white;
    letter-spacing: 0.3rem;
  }

  img{
    width: 50px;
    object-fit: contain;
  }
}

.main__hero-section{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__title-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transform: translateY(-10%);
}

.main__title{
  color: white;
  font-size: 8rem; 
  font-weight: 600;
  letter-spacing: -0.4rem;
  pointer-events: none;
  user-select: none;
  margin-block: 0;
}

.main__paragraph{
  color: gray;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  pointer-events: none;
  user-select: none;
}

#profession{
  border: 1px solid gray;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 12px;;
  margin-left: 0.5rem;
  color: white;
  transition: 500ms ease-in-out;
}






.main__work{
  position: fixed; 
  top: 0;
  background-color: black;
  width: 100%;;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: none;
}


.custom-cursor{
  width: 10px;
  height: 10px;
  border-radius: 10000px;
  background-color: gray;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  transform: translate(-5px, -5px);
  pointer-events: none;
}

.main__work-grid{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main__work-column{
  overflow: hidden;
  transform: translateY(-100%);
  animation: slidesIntro 1000ms ease-in-out forwards;
}

.main__work-column_top{
  transform: translateY(-100%);
}
.main__work-column_bottom{
  transform: translateY(100%);
}

.main__work-thumbnail{
  width: 100%;
  margin: 0;
  opacity: 0.4;
  transition: 200ms ease-in;
}

.main__work-thumbnail:hover{
  opacity: 1;
}

.main__work-title-wrapper{
  overflow: hidden;
}

.main__work-title{
  font-weight: 600;
  font-size: 7rem;
  color: white;
  transform: translateY(100%);
  margin-block: 0;
}

.main__work-title_active{
  animation: slidesIntro 1000ms 1000ms ease-in-out forwards;
}
.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;;
}

@media (max-width: 640px) {
  .nav{
    display: none;
  }

  .main__title{
    font-size: 5rem; 
  }

  .main__work-title{
    font-size: 15vw;
  }

  .main__paragraph{
    font-size: 0.8rem;
  }

  #profession{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border-radius: 8px;
    margin-left: 0.5rem;
  }

  .nav__mobile{
    display: flex;
  }

  
}

